### Задание 2

Подведите результаты эксперимента в экселе по следующим данным: ab_stats.csv - Google Диск:

Стат значимо ли отличается ARPPU в двух группах? Какие рекомендации дадите менеджеру?

In [1]:
# Импортируем библиотеки
import pandas as pd

In [2]:
data = pd.read_csv('ab_stats.csv')
data.head()

   revenue  num_purchases  purchase ab_group  av_site visit
0      0.0              0         0        A       9.040174
1      0.0              0         0        A       4.811628
2      0.0              0         0        A       7.342623
3      0.0              0         0        A       7.744581
4      0.0              0         0        A      10.511814

In [3]:
# Общая информация по датасету
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23652 entries, 0 to 23651
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   revenue        23652 non-null  float64
 1   num_purchases  23652 non-null  int64
 2   purchase       23652 non-null  int64
 3   ab_group       23652 non-null  object
 4   av_site visit  23652 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 924.0+ KB

In [4]:
# Продемонстрировать размерность датафрейма
data.shape

(23652, 5)

In [5]:
# Статистическая сводка
data.describe()

            revenue  num_purchases      purchase  av_site visit
count  23652.000000   23652.000000  23652.000000   23652.000000
mean       0.324689       0.043590      0.020717       7.013112
std        9.557730       1.079403      0.142438       3.154584
min        0.000000       0.000000      0.000000     -12.073486
25%        0.000000       0.000000      0.000000       5.173787
50%        0.000000       0.000000      0.000000       7.007936
75%        0.000000       0.000000      0.000000       8.864119
max     1303.609284     152.000000      1.000000      22.446822

In [6]:
# Проверяем на наличие пропущенных значений и суммируем пропуски
data.isna().sum()

revenue          0
num_purchases    0
purchase         0
ab_group         0
av_site visit    0
dtype: int64